#h1{
    color:white;
    font-style:initial;
    font-size: xx-large;
    text-align: center;
}


#h2{
    color:lightblue;
    background-color:gray;
    font-style: initial;
    font-size: x-large; 
}

#p{
    color: black;
    background-color:white;
    font-style:initial;
    font-size:larger ;
}
#p2{
    color:black ;
    background-color:white;
    font-style:initial;
    font-size: x-large; 
}
body {
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--ZmPcIbAW--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dzone.com/storage/temp/12334613-971.jpg");
    background-color: #cccccc;
   }

   #p3{
    color:black;
    background-color:white;
    font-style:white;
    font-size: x-large; 
   }
   main ol li {
    color:white;
    font-style:initial;
    font-size: x-large; 
   }


   main ul li {
    color:white;
    font-style: oblique;
    font-size: x-large; 
   }


   #p4{
    color:black;
    background-color: white;
    font-style:initial;
    font-size: x-large;   
   }